.vish3{
   margin-right: 1.5cm;
}
.vish4{
    margin-right: 1.5cm;
 }
 .vish5{
    margin-right: 1.5cm;
 }
 .vish6{
    margin-right: 1.5cm;
 }
 .vish7{
    margin-right: 1.5cm;
 }
 .vish8{
    margin-right: 1.5cm;
 }
 .vish9{
    margin-right: 1cm;
 }
 .vis1{
   margin-left: 1.8cm;
 }
 .vi{
   border-radius: 50%
 }
 .v3{
   margin-left: 2cm;
 }
 .v4{
    margin-top: 6cm;
 }
 .v43{
    margin-top: 3cm;
 }
 .v8{
    width: 10cm;
    height: 8cm;
    margin-top: 2.5cm;
    margin-left:cm;
 }
 .v9{
    margin-bottom: 5cm;
 }
 .v5{
    margin-top: 1.5cm;
 }
 .v7{
    margin-top:5cm;
 }
 
 .v6{
    background-color: rgb(176, 255, 255);
    border-radius:.5cm;
    width:14cm;
    height:12cm;
    margin-left: 2cm;
    margin-top: 2cm;

 }
 .v12{
    background-color: aquamarine;
 }